html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, #2c3e50, #130f40);
  font-family: Helvetica;
  color: white;
  overflow-x: hidden;
  height: fit-content;
}
